In [ ]:
# module 4--Arrays in python
# list--(Mutable,ordered collection)
# tuple--(immutable, ordered collection)

# Dictionary-- (mutable,unordered collection)

List-- list is an ordered,mutable(change) collection of items
int,float,string,another list
 syntax--
# syntax for creating a list
listName = [item1,item2,....]

In [1]:
fruits = ["Apple","Banana","kiwi"]
print(fruits)

['Apple', 'Banana', 'kiwi']

In [2]:
# mixed data list
info=["john",22,5.3]
print(info)

['john', 22, 5.3]

In [4]:
# Accessing Elements from list--you can get the elements with the help of indexing
fruits = ["Apple","Banana","kiwi"]
print(fruits)
print(fruits[1])
print(fruits[2])
print(fruits[-2])

['Apple', 'Banana', 'kiwi']
Banana
kiwi
Banana

In [7]:
# modifying list
fruits = ["Apple","Banana","kiwi"]
print(fruits)
fruits[1]= "orange"
print(fruits)
fruits[2]= 678
print(fruits)

['Apple', 'Banana', 'kiwi']
['Apple', 'orange', 'kiwi']
['Apple', 'orange', 678]

In [13]:
# List operations
# append---add any itemat lat(end)
# insert---add any item at particular/specific index
# remove---remove/delete item by its value
# pop ---remove last element of list

# append operation
fruits = ["Apple","Banana","kiwi"]
print(fruits)
fruits.append("orange")
print(fruits)

['Apple', 'Banana', 'kiwi']
['Apple', 'Banana', 'kiwi', 'orange']

In [14]:
# insert operation
fruits = ["Apple","Banana","kiwi"]
print(fruits)
fruits.insert(1,"orange")
print(fruits)

['Apple', 'Banana', 'kiwi']
['Apple', 'orange', 'Banana', 'kiwi']

In [16]:
# remove
fruits = ["Apple","Banana","kiwi"]
print(fruits)
fruits.remove("Banana")
print(fruits)

['Apple', 'Banana', 'kiwi']
['Apple', 'kiwi']

In [19]:
# pop
fruits = ["Apple","Banana","kiwi"]
print(fruits)
popped=fruits.pop()
print(popped)
print(fruits)

['Apple', 'Banana', 'kiwi']
kiwi
['Apple', 'Banana']

In [25]:
# list silicing--[startindex:endIndex(exclusive)]
num = [10,20,30,40,50]
print(num)
print(num[1:4])
print(num[:4])
print(num[1:])
print(num[:])

[10, 20, 30, 40, 50]
[20, 30, 40]
[10, 20, 30, 40]
[20, 30, 40, 50]
[10, 20, 30, 40, 50]

In [36]:
# built-in functions
# len()---this function gives the length/count of all elements in list
# max()--this function gives the maximun values
# min()--this function gives the minimun values
# sort()--this function gives the sorted list(ascending order--small-large)

num = [100,455,10,20,80,50]
print(num)
print(len(num))
print(max(num))
print(min(num))
num.reverse()
print(num)
num.sort()
print(num)
# num.reverse()
# print(num)
# sort function parameter
num.sort(reverse=True)
print(num)

[100, 455, 10, 20, 80, 50]
6
455
10
[50, 80, 20, 10, 455, 100]
[10, 20, 50, 80, 100, 455]
[455, 100, 80, 50, 20, 10]

In [37]:
# Tuple--Tuple is ordered ,immutable(inchangeble) collection of items

# syntax for creating tuple
# tupleNMae = (item1,item2..)
t1=(1,3,5,4)
print(t1)

(1, 3, 5, 4)

In [39]:
# Accessing elements from tuple
t1=(1,3,5,4)
print(t1)
print(t1[3])

(1, 3, 5, 4)
4

In [42]:
# imMutability 
t1= (10,20,30)
print(t1)
# t1[2] = 47 //Error(immutability-unchanged)
print(t1)

(10, 20, 30)
(10, 20, 30)

In [45]:
# Tuple operations-
# len--lenghth of tuple
# max--maximum value of tuple
# min--minimum value of tuple
# sum--sum adds all the elements of tuple

t1 = (1,2,3)
print(t1)
print(t1[1]+t1[2])
print(t1[1]-t1[2])
print(t1[1]*t1[2])
print(len(t1))
print(max(t1))
print(min(t1))
print(sum(t1))

(1, 2, 3)
5
-1
6
3
3
1
6

In [53]:
# tuple packing and unpacking
person = ("shail",19,"Engineer") #packing
print(person)

name = person[0] 
print(name)
age = person[1]
print(age)
# unpacking
nam,age,job=person
print(name)
print(age)

('shail', 19, 'Engineer')
shail
19
shail
19

In [62]:
# singleton Tuple--A tuple with only 1 value in it is called singleton tuple(with trailing comma)
t1=(1)
print(type(t1))
t1 = 1
print(type(t1))
t1 = (1,)
print(type(t1))
t2 = 1,2,3
print(type(t2))
print(t2)

<class 'int'>
<class 'int'>
<class 'tuple'>
<class 'tuple'>
(1, 2, 3)

In [ ]:
1. WAP to create a list of 5 fruits and perform following operations:
--> replace one element
->Add a new element
->remove one element
->print the final list
2. WAP to create tuple of your name,age and city 
      ->use unpacking to print them separately

In [ ]:
""" 1. WAP to create a list of 5 fruits and perform following operations:
    -> replace one element
    ->Add a new element
    ->remove one element
    ->print the final list
"""

fruits = ["mango","Apple","orange","banana","kiwi"]
print(fruits)
# Replace
fruits[2] = "bus"
print(fruits)

# add new element
fruits.append("orange")
print(fruits)

# remove one element
fruits.remove("bus")
print(fruits)

# final list
print(fruits)

['mango', 'Apple', 'orange', 'banana', 'kiwi']
['mango', 'Apple', 'bus', 'banana', 'kiwi']
['mango', 'Apple', 'bus', 'banana', 'kiwi', 'orange']
['mango', 'Apple', 'banana', 'kiwi', 'orange']
['mango', 'Apple', 'banana', 'kiwi', 'orange']

In [ ]:
# 2. WAP to create tuple of your name,age and city 
#       ->use unpacking to print them separately

t1 = ("shail",19,"sitamarhi")
print(t1)
# unpacking
name,age,city = t1
print(name)
print(age)
print(city)

('shail', 19, 'sitamarhi')
shail
19
sitamarhi