In [ ]:
python keywords and identifier
ex--> if,for,false,true,else,while..etc.

In [ ]:
Identifier---> like variable

In [ ]:
python statements: statements is a line of code

x = 10 --> assignment statements
print(x) --> function call statements
if x>5: ---> conditional statements

In [ ]:
Comments : comments are non-executable code meant for humans understanding

There are two type of comments:
   1. single line comment ---> #
   2. Multiple line comment ---> '''  ''',"""  """

In [ ]:
Basic

In [ ]:
variableas : variables just like container

syntax for creating variables:
variableName = value
int a;

In [2]:
# multiple assignments--you can assign multiple variables in one line
x,y,z= 10,25,76
print(x)
print(y)
print(z)
x = y = z=100
print(x,y,z)

10
25
76
100 100 100

In [4]:
x = 10
name = "shail"
print(type(x))
print(type(name))

<class 'int'>
<class 'str'>

In [ ]:
Data type ---> data type tells the type of value you hold in your variables 
ex--> int ,float,..etc.

python has several built-in data types are as follows:

Category    datatype
Numeric     int,float,complex
sequence    str,list,tuple,range
Mapping     dict
set         set,frozenset
boolean     bool

In [ ]:
# Numbers--python supports 3 main numeric types--int,float,complex

1.integer(int)-- whole number(positive and negative , no -deciimal
ex-- a=10
     b = -34
2.float-- number with deciimal
ex-- a=10.0
     b = -34.8
3.complex(complex)-- 
ex--
    z= 4+4j

In [12]:
x= 6+6j
print(type(x))
print(x)
print(x.real)
print(x.imag)

<class 'complex'>
(6+6j)
6.0
6.0

In [14]:
# type conversion--
x = 10 #int
y = float(x)
print(y)

10.0

In [16]:
# strings--strings are the collection of characters enclosed in quotes
name = "shail"
name1='shail1'
name2="""shail"""
print(name,name1,name2)
name3 = "don't do this"
# name3 = 'don't do this' -- error --
print(name3)

shail shail1 shail
don't do this

In [17]:
# multi-line strings
# use triple quotes
para = '''this is a multiple -line strings'''
print(para)

this is a multiple -line strings

In [21]:
# Accessing characters--strings are indexed(starting at 0)
name = "python"
print(name[0])
print(name[-4])

p
t

In [29]:
# string silicing--to access a particular part of a string and we can access that part of string with in range
# syntax--variableName[startIndex(incluxive):endIndex(exclusive)]
text = "programming"
print(text[3:7])
print(text[0:7])
print(text[ :7])
print(text[: ])
print(text[ :-1])

gram
program
program
programming
programmin

In [31]:
# strings concatenation--to add strings
a = "python"
b="programming"
print(a+" "+b)

python programming

In [37]:
# string functions--len(),upper(),lower(),title(),replace()
name="python"
print(len(name))
print(name.upper())
print(name.lower())
print(name.title())
print(name.replace('p','h'))

6
PYTHON
python
Python
hython

In [45]:
# string formatting--
# print(f"")
name="shail"
age = 19
height = 5.765
print("My name is",name,"and i am",age,"year old")
print("My name is"+name+"and i am"+str(age)+"year old")
print(f" My Name is {name} this is my age {age}")
print(f" My Name is {name} this is my age {age} and my height is {height:.1f}")

My name is shail and i am 19 year old
My name isshailand i am19year old
 My Name is shail this is my age 19
 My Name is shail this is my age 19 and my height is 5.8

In [46]:
x = int(1.9)
print(x,type(x))

1 <class 'int'>

In [ ]:
key takeways:
1. variables are the labels for storing values
2. python automatically decides data type (dynamically typed)
3. use type() to data type 
4. type casting helps in converting data from one type to another type

In [51]:
# WAP to create a variables name,age,,salary,weight and then print them with formatting

name = input("Enter name")
age = int(input("Enter age"))
salary = int(input("Enter salary"))
weight = float(input("Enter weight:"))
print(f" my name is {name} and i am age is {age} and my salary is {salary} and my weight is {45.6}")

Enter name shail
Enter age 23
Enter salary 456778
Enter weight: 76

 my name is shail and i am age is 23 and my salary is 456778 and my weight is 45.6

In [50]:
# WAP to convert integer to a float and then print both values

x = int(input("Enter a number"))
y = float(x)
print(x)
print(y)

Enter a number 23

23
23.0